<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suitename" verbose="7" > 
	<test name="Tests" preserve-order="false">
		<parameter name="browser" value="Firefox"/>
			<classes>
				<class name = "com.toolsqa.seleTesting.NewTest2" />
				<class name = "com.toolsqa.seleTesting.NewTest" />
			</classes>
			
		
	</test>
</suite>